#login-page-container {
    height: calc(100% - 4.9em);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border: 3px solid #004657;
    border-style: outset;
    background-color: #001B22;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 5%;
}

.signin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;

    > input[type="text"],
    > input[type="password"],
    > button,
    > textarea {
        color: #237a20;
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
    }

    > label,
    > button {
        margin-top: 1rem;
    }

    > button {
        padding: 0.5rem;
    }
}
