#login-page-container {
    height: calc(100% - 4.9em);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    /* max-width: 420px;
    min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border: 3px solid #004657;
    border-style: outset;
    background-color: #001b22;
    border-radius: 10px;
    /* height: 40%;
    width: 40%; */
    margin-bottom: 5%;
}

.signin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 1em 0;

    > button {
        color: #237a20;
        font-size: 1.375em;
        padding: 0.25em;
        border-radius: 0.5em;
    }

    > .form-input-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 0 0.5em 0;
    }

    > .form-input-wrapper > label {
        margin: 1em 0;
    }

    > .form-input-wrapper > input[type="text"],
    > .form-input-wrapper > input[type="password"] {
        color: #237a20;
        font-size: 1.375em;
        padding: 0.25em;
        border-radius: 0.5em;
        width: 19.3125em;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
    }

    > label,
    > button {
        /* margin-top: 1rem; */
    }

    > button {
        margin: 1em 0 1em 0;
        padding: 0.5em;
        width: 20em;
        cursor: pointer;
    }
}
