.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#canvas-left-border {
  background-color: rgba(0, 0, 0, 0.4);
    width: calc((100% - 1366px) / 2);
    height: 768px;
}

#canvas-right-border {
  background-color: rgba(0, 0, 0, 0.4);
    width: calc((100% - 1366px) / 2);
    height: 768px;
}