@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Silkscreen:wght@400;700&display=swap&family=Rubik&display=swap");

nav > a {
    border-left: solid 0.125em #cb6f5384;
    padding: 0.5em 1em;
    font-size: 1.5em;
}

#nav-title {
    font-size: 2.5em;
    text-decoration: none;
}

#header2 {
    /* color: white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    background-color: #001b23;
    height: 3.9em;
    border-bottom: 0.2em solid black;
}
