.guardian-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  caret-color: transparent;
}

.guardian-profile-card> img{
  height: 34vh;
  margin-top: -7vh;
}

#card-2 {
  flex-direction: column;
  background-color: #001B22;
  background-position-y: 28%;
}

.prof-section {
  text-align: center;
  margin: 2vh;
  border-radius: 1vh;
  padding: 1vh;
  max-width: 18vw;
}

.prof-section> h3 {
  font-size: 3.7vh;
  font-family: Silkscreen;
}

.prof-section> p {
  font-size: 3vh;
  font-family: Silkscreen;
}

.guardian-profile-card> h4, h5 {
  font-family: Silkscreen;
  position: absolute;
  font-size: 4.5vh;
  padding: 1vh;
}

.guardian-profile-card> h5 {
  margin-bottom: -47vh;
  font-size: 3.5vh;
}

.guardian-profile-card> h4 {
  font-family: Silkscreen;
  margin-top: -64vh;
}

.guardian-profile-card {
  height: 57vh;
  width: 25vw;
  min-height: 250px;
  min-width: 300px;
  padding-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  /* background-image: url(https://i.pinimg.com/originals/26/e4/9d/26e49d0fd1e5f3960849176a6a40a917.png); */
  background-color: #001B22;
  background-position: center;
  background-size: cover;
  border-radius: 3vh;
  border: 3px solid #004657;
}



