#homepage-title,
#description-of-game,
#how-to-play {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage-title {
    font-size: 60px;
}

#description-of-game,
#how-to-play {
    color: #202020;
    cursor: pointer;
    font-size: 40px;
}

#popup-container {
    background-color: rgba(196, 200, 186, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#popup {
    background-color: #5b5047;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 70%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

#popup p {
    padding: 30px 20px 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    font-size: 40px;
    line-height: 1.5em;
}

#close-button {
    background-color: transparent;
    border: solid 1px #453c34;
    padding: 3px 8px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
    cursor: pointer;
}

#images-container {
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-top: 100px;
}

#images-container img {
    padding: 20px;
    margin: 20px;
}

#description-of-game:hover,
#how-to-play:hover {
    color: #5b5047;
}

#close-button:hover {
    background-color: #c4c8ba;
    color: #453c34;
}

/* popup scrollbar  */
#popup::-webkit-scrollbar {
    width: 20px;
}
  
#popup::-webkit-scrollbar-thumb {
    background-color: #5b5047;
    border-radius: 2px;
    border: solid 0.5px #453c34;
}

#popup::-webkit-scrollbar-track {
    background-color: #453c34;
}

.game {
    background-image: url("src/components/canvas/img/test-background.png");
    background-position: bottom;
    background-position-y:1% ;
}
