@font-face {
    font-family: myFont;
    src: url("../../logo-font/Custom-font.ttf");
}

body {
    overflow: hidden;
    font-size: 0.78125vw;
}

#homepage-container {
    height: calc(100% - 4.9em);
    width: 100%;
    overflow-y: auto;
}

#homepage-title,
#description-of-game,
#how-to-play {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    caret-color: transparent;
}
#title-container {
    height: 20%;
}

#homepage-title {
    font-size: 7.7em;
    font-weight: 600;

    /* padding: 4% 0; */
}

#description-of-game,
#how-to-play {
    color: #001b22;
    cursor: pointer;
    font-size: 2.5em;
}

#home-text-container {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2% 0; */
}

#home-text-container > h2 {
    padding: 1% 0 3% 0;
    /* margin-bottom: 2%; */
}

#link-to-game {
    width: max-content;
    height: max-content;
}

#play-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button {
    color: #001b22;
    padding: 0.166665em;
    font-size: 3.75em;
    cursor: pointer;
    border: 3px solid grey;
    border-style: outset;
}

#popup-container {
    background-color: rgb(14 15 18 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    caret-color: transparent;
}

#popup {
    background-color: #001b22;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 70%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

#popup p {
    padding: 30px 20px 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    font-size: 2.5em;
    line-height: 1.5em;
}

#close-button {
    background-color: transparent;
    border: solid 1px #002832;
    padding: 3px 8px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
    cursor: pointer;
}

#images-container {
    display: flex;
    align-items: end;
    justify-content: center;
    /* margin-top: 100px; */
    height: 50%;
    padding: 0 10%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

#images-container img {
    /* padding: 20px; */
    /* margin: 0 1em; */
    height: auto;
    width: 23%;
    margin: 0 -3%;
    margin-bottom: 10%;
}

#how-to-play:hover {
    color: #004657;
}

#close-button:hover {
    background-color: #c4c8ba;
    background-color: #001b22;
}

/* popup scrollbar  */
#popup::-webkit-scrollbar {
    width: 20px;
    background-color: #004657;
}

#popup::-webkit-scrollbar-thumb {
    border: 3px solid #004657;
    border-radius: 2px;
    border: solid 0.5px #004657;
    background-color: #003745;
}

#popup::-webkit-scrollbar-track {
    background-color: #004657;
}

.game {
    background-image: url("images/starsky-bg.png");
    background-position: bottom;
    background-position-y: 1%;
}

#home-footer {
    background-color: #001b22;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
