.guardian-card> img{
  height: 36vh;
  margin-top: -5vh;
}

/* .guardian-card> img:hover{
  transform: scale(1.1);
} */

.guardian-card> h4, h5 {
  color: white;
  font-family: Silkscreen;
  position: absolute;
  font-size: 33px;
  border-radius: 3vh;
  padding: 1vh;
}

.guardian-card> h5 {
  color: white;
  margin-bottom: -40vh;
  font-size: 24px;
}

.guardian-card> h4 {
  margin-top: -55vh;
}

.guardian-card {
  height: 55vh;
  width: 23vw;
  min-height: 250px;
  min-width: 280px;
  padding-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 1vw;
  /* background-image: url(https://i.pinimg.com/originals/26/e4/9d/26e49d0fd1e5f3960849176a6a40a917.png); */
  background-color: #001B22;
  border-style: outset;
  background-position: center;
  background-size: cover;
  border-radius: 3vh;
  border: 3px solid #004657;
  caret-color: transparent;
}

.guardian-card:hover {
  transform: scale(0.96);
}
