#leaderboard-container {
    height: calc(100% - 4.9em);
    width: 100%;
    /* background-color: #fffeee; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#leaderboard-box-wrapper {
    height: 80%;
}

#leaderboard-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-weight: bold;
    font-size: 3.75em;
    letter-spacing: 0.2rem;
    /* margin-bottom: 2.5rem; */
    
    
}