#leaderboard-table {
    width: 80%;
    margin: 3rem auto;
    table-layout:fixed;
    display: table;
    white-space: nowrap;
    
}

#leaderboard-box {
    height: 60%;
    width: 44em;
    background-color: #001B22;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#leaderboard-table td, #leaderboard-table th {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Silkscreen', cursive;
}

#leaderboard-table td {
    display: table-cell;
    /* min-height: 1.0rem; */
    height: 2rem;
}

#leaderboard-table th {
    display: table-cell;
    /* min-height: 1.0rem; */
    padding-bottom: 2rem;

}

.leaderboard-header {
    /* max-height: 2.0rem; */
}

.leaderboard-row {
    max-height: 0.6rem;
}

.filler {
    margin: auto;
}

.cell-full-width {
    width: 100% !important;
}
