#notfound,
#notfound-home-link {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
}

#notfound-home-link {
   color: #5b5047;
   text-decoration: none;
}

#span-text {
    color: #5b5047;
    margin-left: 10px;
    margin-right: 10px;
}
